.tech {
  width: fit-content;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  background-color: #242526;
  border-radius: 0.5rem;
  color: white;
}

.tech__name {
  margin: auto 0.2rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.tech__image {
  width: 2rem;
}
